/* src/App.css */
.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease-in-out;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 400ms ease-in-out;
}
/* Minimal Embla Carousel CSS */
.embla {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}
.embla__slide {
  position: relative;
  min-width: 0;
  padding-left: 10px;
}
