@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}
/* Ẩn scrollbar toàn bộ website */
* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE và Edge cũ */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge (mới) */
}
